body {
    margin: 0;
    padding: 0'
 font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 30px;
}

p {
    margin-bottom: 40px;
}

.orange-color {
    color: orange;
}

.flexible-section {
    display: flex;


}

.half-width {
    width: 50%;
    padding: 4%;

}

.first-one {
    margin-top: 20px;
}

.half-width img {
    width: 100%;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(to left, tomato, orange);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;

}

.top-banner {
    background-image: url(Images/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;

}

/* first section end */


.dream-big {
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.forth-part {
    margin-top: 40px;
}

/* second section end */
.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

/* .designer {
    box-shadow: 3px 4px 4px 3px gray;
    border-left: 6px solid orange; 

}*/

.experience-item {

    width: 40%;
    height: 250px;
    box-shadow: 10px 10px 40px gray;
    margin: 0 5%;
    /* margin-left: 5%;
    margin-right: 5%; */
    padding-left: 20px;
    padding-top: 40px;
    border-radius: 10px;

}

#border1 {
    border-left: 6px solid tomato;
}

#border2 {
    border-left: 6px solid blue;
}

footer p {
    font-size: 14px;
    color: gray;
    text-align: center;
    margin-top: 150px;
}