body {
    margin: 0;
    padding: 0'
 font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 30px;
}

p {
    margin-bottom: 40px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 20px;
}

.half-width {
    width: 50%;
    padding: 5%;

}

.first-one {
    margin-top: 20px;
}

.half-width img {
    width: 100%;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(to left, tomato, orange);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;

}

.top-banner {
    background-image: url(Images/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;

}

/* first section end */

/* second section start for here */
.dream-big {
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.forth-part {
    margin-top: 50px;
}